In [51]:
import pandas as pd

In [22]:
import numpy as np

In [2]:
import os

In [50]:
def drop_null_columns(df):
    new_df = df.copy()
    for column, nulls in (new_df.isna().sum()/len(new_df)).to_dict().items():
        if nulls==1:
            new_df = new_df.drop(columns=[column])
    return new_df

In [93]:
def get_null_data(df):
    return df.isna().sum()/len(df)

In [52]:
os.listdir("data_original")

['.DS_Store',
 'genero_subgenero.csv',
 'multimedia.csv',
 'pagos_v2.csv',
 'proveedores.csv',
 'subscripciones.csv',
 'usuarios.csv',
 'visualizaciones.csv']

In [54]:
raw_dfs = {}
new_dfs = {}
for file_name in os.listdir("data_original"):
    if ".csv" in file_name:
        raw_dfs[file_name[:-4]] = pd.read_csv(f"data_original\\{file_name}")

In [34]:
raw_dfs.keys()

dict_keys(['genero_subgenero', 'multimedia', 'pagos_v2', 'proveedores', 'subscripciones', 'usuarios', 'visualizaciones'])

In [36]:
raw_dfs["multimedia"].head()

,pid,sid,cid,titulo,duracion,clasificacion,puntuacion,año,numero,serie,genero
0,NaN,1.0,2.0,Episode 2,66,R,8.0,2019,1.0,Sex Education,Drama
1,74.0,NaN,NaN,The Boxtrolls,96,NC-17,1.0,2014,NaN,NaN,Comedia
2,6.0,NaN,NaN,Fahrenheit 451,100,G,3.0,2018,NaN,NaN,Ciencia ficción apocalíptica
3,NaN,20.0,124.0,Las aventuras de Supergirl,40,G,6.4,2015,2.0,Supergirl,Ciencia ficción
4,NaN,4.0,63.0,El viajero,20,PG-13,9.8,2007,7.0,Naruto Shippuden,Aventura

In [95]:
get_null_data(raw_dfs["genero_subgenero"])

genero              0.00
nombre_subgenero    0.75
dtype: float64

In [195]:
genero_subgenero = raw_dfs["genero_subgenero"][~raw_dfs["genero_subgenero"]["nombre_subgenero"].isnull()]
genero_subgenero.drop_duplicates().sort_values(by=["genero"]).to_csv("data_limpia\\genero_subgenero.csv", index = False)

In [198]:
generos = raw_dfs["genero_subgenero"]["genero"]
generos.drop_duplicates().sort_values().to_csv("data_limpia\\generos.csv", index = False)

In [86]:
get_null_data(raw_dfs["multimedia"])

pid              0.400885
sid              0.215044
cid              0.215044
titulo           0.000000
duracion         0.000000
clasificacion    0.000000
puntuacion       0.000000
año              0.000000
numero           0.215044
serie            0.215044
genero           0.002655
dtype: float64

In [ ]:
peliculas = drop_null_columns(raw_dfs["multimedia"][~raw_dfs["multimedia"]["pid"].isnull()])
peliculas.rename(columns={'pid':'id'}, inplace=True)
peliculas[['id']]=peliculas[['id']].astype(int)
peliculas.drop(['genero'], axis=1).drop_duplicates().sort_values(by=["id"]).to_csv("data_limpia\\peliculas.csv", index = False)

In [104]:
peliculas_genero = drop_null_columns(raw_dfs["multimedia"][~raw_dfs["multimedia"]["pid"].isnull()])
peliculas_genero.rename(columns={'pid':'id_pelicula'}, inplace=True)
peliculas_genero[['id_pelicula']]=peliculas_genero[['id_pelicula']].astype(int)
peliculas_genero.drop(['titulo','duracion','clasificacion','puntuacion','año'], axis=1).drop_duplicates().sort_values(by=["id_pelicula"]).to_csv("data_limpia\\peliculas_genero.csv", index = False)

In [97]:
series = drop_null_columns(raw_dfs["multimedia"][~raw_dfs["multimedia"]["sid"].isnull()])
series.rename(columns={'serie':'nombre','sid':'id'}, inplace=True)
series[['id']]=series[['id']].astype(int)
series.drop(['cid','numero','duracion','titulo','genero'], axis=1).drop_duplicates().sort_values(by=["id"]).to_csv("data_limpia\\series.csv", index = False)

In [109]:
series_genero = drop_null_columns(raw_dfs["multimedia"][~raw_dfs["multimedia"]["sid"].isnull()])
series_genero.rename(columns={'sid':'id_serie'}, inplace=True)
series_genero[['id_serie']]=series_genero[['id_serie']].astype(int)
series_genero.drop(['cid','clasificacion','titulo','duracion','numero','puntuacion','año','serie'], axis=1).drop_duplicates().sort_values(by=["id_serie"]).to_csv("data_limpia\\series_genero.csv", index = False)

In [ ]:
capitulos =  drop_null_columns(raw_dfs["multimedia"][~raw_dfs["multimedia"]["cid"].isnull()])
capitulos.rename(columns={'cid':'id','sid':'serie_id'}, inplace=True)
capitulos[['serie_id','id','numero']]=capitulos[['serie_id','id','numero']].astype(int)
capitulos = capitulos[['id','serie_id','titulo','duracion','numero','serie']]
capitulos.drop_duplicates().sort_values(by=["id"]).to_csv("data_limpia\\capitulos.csv", index = False)

In [87]:
get_null_data(raw_dfs["pagos_v2"])

pago_id    0.000000
monto      0.000000
fecha      0.000000
uid        0.000000
subs_id    0.544540
pid        5.744253
pro_id     5.744253
dtype: float64

In [88]:
get_null_data(raw_dfs["proveedores"])

id                0.000000
nombre            0.000000
costo             0.000000
sid               1.242816
pid               0.380747
precio            1.406609
disponibilidad    1.406609
dtype: float64

In [202]:
proveedoresLimpios = raw_dfs["proveedores"].loc[:,["id","nombre","costo"]]
proveedoresLimpios[['id']]=proveedoresLimpios[['id']].astype(int)
proveedoresLimpios.drop_duplicates().sort_values(by=["id"]).to_csv("data_limpia\\proveedores.csv", index = False)

In [204]:
pelicula_arriendo =  raw_dfs["proveedores"].loc[pd.notna(raw_dfs["proveedores"]['disponibilidad']),["id","pid","precio","disponibilidad"]]
pelicula_arriendo.columns = ["id_proveedor","id_pelicula","precio","duracion_arriendo"] 
pelicula_arriendo[['precio',"duracion_arriendo"]]=pelicula_arriendo[['precio',"duracion_arriendo"]].astype(int)
pelicula_arriendo.drop_duplicates().sort_values(by=["id_proveedor","id_pelicula"]).reset_index(drop=True).to_csv("data_limpia\\pelicula_arriendo.csv", index = False)

In [211]:
serie_proveedor = drop_null_columns(raw_dfs["proveedores"][~raw_dfs["proveedores"]["sid"].isnull()])
serie_proveedor.rename(columns={'id':'id_proveedor','sid':'id_serie'}, inplace=True)
serie_proveedor[['id_serie']]=serie_proveedor[['id_serie']].astype(int)
serie_proveedor = serie_proveedor[['id_proveedor','id_serie']]
serie_proveedor.drop_duplicates().sort_values(by=["id_proveedor","id_serie"]).to_csv("data_limpia\\serie_proveedor.csv", index = False)

In [213]:
pelicula_proveedor = drop_null_columns(raw_dfs["proveedores"][~raw_dfs["proveedores"]["pid"].isnull()])

pelicula_proveedor  = drop_null_columns(pelicula_proveedor[~pelicula_proveedor["precio"].isnull()])

pelicula_proveedor.rename(columns={'id':'id_proveedor','pid':'id_pelicula'}, inplace=True)
pelicula_proveedor[['id_pelicula']]=pelicula_proveedor[['id_pelicula']].astype(int)
pelicula_proveedor = pelicula_proveedor[['id_proveedor','id_pelicula']]
pelicula_proveedor.drop_duplicates().sort_values(by=["id_proveedor","id_pelicula"]).to_csv("data_limpia\\pelicula_proveedor.csv", index = False)

In [89]:
get_null_data(raw_dfs["subscripciones"])

id               0.000000
estado           0.000000
fecha_inicio     0.000000
pro_id           0.000000
uid              0.000000
fecha_termino    0.418103
proveedor        0.000000
costo            0.000000
dtype: float64

In [90]:
get_null_data(raw_dfs["usuarios"])

id          0.0
nombre      0.0
mail        0.0
password    0.0
username    0.0
dtype: float64

In [ ]:
usuarios = raw_dfs["usuarios"] 
usuarios.sort_values(by=["id"]).to_csv("data_limpia\\usuarios.csv", index = False)

In [96]:
get_null_data(raw_dfs["visualizaciones"])

uid      0.000000
pid      0.653107
cid      0.346893
fecha    0.000000
dtype: float64